@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">


    <div class="main">
        <div class="reservation_top">
            <div class=" contact_right">
                <h3>About Me </h3>
                <div class="contact-form">
                    <p>
                        We offer a wide range of financial products and services to individuals and business owners. By providing sound financial information, we believe you will be better able to identify your goals and make sound decisions to help reach them.
                        Please call us at [phone number] if you have any questions about our firm or the range of financial products and services we provide. Our firm has a relationship with a variety of financial services companies, so if we don't have it, we know someone who does
                    </p>
                </div>
            </div>
        </div>
    </div>
