@{
    ViewBag.Title = "Contactus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="main">
        <div class="reservation_top">
            <div class=" contact_right">
                <h3>Contact Form</h3>
                <div class="contact-form">
                    <form method="post" action="#">
                        <input type="text" class="textbox" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
                        <input type="text" class="textbox" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
                        <textarea value="Message" onfocus="this.value= '';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
                        <input type="submit" value="Send">
                        <div class="clearfix"> </div>
                    </form>
                    <address class="address">
                        <p>“23 Sophia Drive, Scarborough, M1H1Z3”</p>
                        <dl>
                            <dt> </dt>
                            <dd>Telephone:<span> +1647-687-9799</span></dd>
                            <dd>E-mail:&nbsp; <a href="dhruvroxs96@gmail.com">info(at)myshop.com</a></dd>
                        </dl>
                    </address>
                </div>
            </div>
        </div>
    </div>




