@model MvcApplication1.Models.Category

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="main">
        <fieldset>
            <legend>Welcom</legend>

            
            <strong>
                
                Do your shopping with  my shop site.
                <br />
                We provide high quality products with resionable price. 



            </strong>

        </fieldset>
        <p>

        </p>
</div>