@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">

    <div class="main">
        <h2>Thankyou</h2>

        Your order is conform. and deliver in next  5 working day, to your address 
        as follow 
        <hr />
        @ViewBag.AddressA;
        </div>
    </div>
